<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="pragma" content="no-cache"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Dash Board</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <link rel="apple-touch-icon" href="img/logo.png">
    <link rel="icon" href="img/logo.png">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    [endif]-->
    
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="sweetalert/sweetalert.css">
    <script type="text/javascript" src="sweetalert/sweetalert-dev.js"></script>
    <script>
	var database = window.sessionStorage;
    function showmsg(title,msg){
      var htmltext = '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button><h4>'+title+'</h4>'+ msg+'</div>';
      $("div#showmsg").html(htmltext);
      }
     function urltap(ret){
     $("div#body").html(ret); //除了首页不调用这函数，其他选项卡都调用。
     }
	 function showdata(page){
	 $("tbody#kami_list").html(database[page]);
	 database['nowpage'] = parseInt(page);
	 }
	 function nextpage(type){
	 var nowpage = database['nowpage'];
	 var pagesize = database["pagesize"];
	 if(type==1){//上一页
	 
	 var gotopage = 1;
	 if(1<parseInt(nowpage)){
	 gotopage = parseInt(nowpage)-1;
	 }
	 showdata(String(gotopage));
	 
	 for(var i=0;i<parseInt(pagesize);i++){
	 $("li#kamili_"+(i+1))[0].style="display:none"
	 }
	 
	 var st=0;
	 var end = parseInt(pagesize);
	 if(gotopage+20<=parseInt(pagesize)){
	 end = gotopage+20;
	 }
	 if(gotopage-20>=0){
	 st = gotopage-20;
	 }
	 
	 for(var i=st;i<end;i++){
	 $("li#kamili_"+(i+1))[0].style="display:inline"
	 }
	 
	 }
	 else if(type==2){//下一页
	 var gotopage = parseInt(pagesize);
	 if(parseInt(nowpage) < parseInt(pagesize)){
	 gotopage = parseInt(nowpage)+1;
	 }
	 }
	 showdata(String(gotopage));
	 for(var i=0;i<parseInt(pagesize);i++){
	 $("li#kamili_"+(i+1))[0].style="display:none"
	 }
	 var st=0;
	 var end = parseInt(pagesize);
	 if(gotopage+20<=parseInt(pagesize)){
	 end = gotopage+20;
	 }
	 if(gotopage-20>=0){
	 st = gotopage-20;
	 }
	 
	 for(var i=st;i<end;i++){
	 $("li#kamili_"+(i+1))[0].style="display:inline"
	 }
	 
	 }
     function backmsg(ret){
      swal("提示","查询完毕!\n结果已展示","success");
      if(ret.indexOf("{分隔符}")>-1){
      var msg = ret.split("{分隔符}")[0];
      var htmltext = ret.split("{分隔符}")[1];
	  var showhtml = htmltext.split("</tr>");
	  var showtext = "";
	  var showli = "";
	  for(var i=0;i<100;i++){
		showtext+=showhtml[i]+"</tr>";
	  }
	  for(var i=1;i<= Math.ceil(showhtml.length/100);i++){
		var a="";
		var j=(i-1)*100;
		if(j<=showhtml.length-100){
		for(var k=j;k<j+100;k++){
		a+=showhtml[k]+"</tr>";
		}
		}
		else{
		for(var k=j;k<showhtml.length;k++){
		a+=showhtml[k]+"</tr>";
		}
		}
		database[String(i)]=a;
		showli+="<li style=\"display:none\" id=\"kamili_"+i+"\"><a href=\"javascript:showdata("+i+")\">"+i+"</a></li>";
	  }
	  database['nowpage'] = 1;
	  database["pagesize"] = Math.ceil(showhtml.length/100);
	  showli = '<li><a href="javascript:showdata(1)">首页</a></li><li><a href="javascript:nextpage(1)">上一页</a></li>'+showli+'<li><a href="javascript:nextpage(2)">下一页</a></li><li><a href="javascript:showdata('+database["pagesize"]+')">末页</a></li>';
	  $("ul#kami_li").html(showli);
      $("tbody#kami_list").html(showtext);
      showmsg("查询完毕",msg);
      return;
      }
      $("tbody#kami_list").html(ret);
      }
	   
	   function backmsg2(ret){
      swal("提示","查询完毕!\n结果已展示","success");
      if(ret.indexOf("{分隔符}")>-1){
      var msg = ret.split("{分隔符}")[0];
      var htmltext = ret.split("{分隔符}")[1];
      $("tbody#shouquan_list").html(htmltext);
      showmsg("查询完毕",msg);
      return;
      }
      $("tbody#shouquan_list").html(ret);
      }
	  
      function clearbackmsg(ret){
      swal("提示",ret,"success");
      }
      
      
      function showme(){
      var htmltext = "<p>本人昵称道长,QQ<a href='http://wpa.qq.com/msgrd?v=3&uin=434857005&site=qq&menu=yes' target='_blank'>434857005</a></p><p>csdn<a href='https://blog.csdn.net/qq_32394351' target='_blank'>晚风拂柳颜</a></p><p>github社区帐号:<a href='https://github.com/hjdhnx' target='_blank'>hjdhnx</a></p><p>gitee社区帐号:<a href='https://gitee.com/hjdhnx' target='_blank'>hjdhnx</a></p><p>弹窗样式来自<a href='https://www.cnblogs.com/4AMLJW/p/11573766.html' target='_blank'>向着阳光漫步的博客</a></p><p>前端界面设计来自<a href='https://www.bootcss.com/p/layoutit/' target='_blank'>Bootstrap可视化工具</a></p><p>登录界面模版来自<a href='https://www.17sucai.com/pins/33166.html' target='_blank'>17素材网</a></p><span style='color:#FF4500'>融合php、mysql、js、jquery、css、html、bootstrap<span>";
      
      swal({title: "作者 <small>个人简介</small>",text:htmltext,html: true });
      }
      function search(){
      var type = $("input#katype").val();
      if(type==""){
      type = "all";
      }
      var json = {"katype":type};
      ajax_post("kainfo.php",json,backmsg);
      }
	  function search_sq(){
      var dbuuid = $("input#dbuuid").val();
	  if(dbuuid==""){
      dbuuid = "all";
      }
      var json = {"dbuuid":dbuuid};
      ajax_post("shouquaninfo.php",json,backmsg2);
      }
      function clear(type){
      swal({
            title: "确定清空吗？",
            text: "你将无法恢复这些记录！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确定清空！",
            cancelButtonText: "取消清空！",
            closeOnConfirm: false,
            closeOnCancel: false
            },
            function(isConfirm){
            if (isConfirm) {
            var json = {"clear":"1","type":type};
            ajax_post("clear.php",json,clearbackmsg);
            } else {
            swal("取消！", "你的指定记录未进行任何操作。",
            "error");
            }
            });
      }
      
    function selectType(type){
    $("input#katype").val(type);
	if($("input#inputtime")[0]){
	var time_space = 24*3600;
	switch(type){
    case "天":
        time_space = 24*3600;
        break;
    case "周":
        time_space = 7*24*3600;
        break;
    case "月":
        time_space = 30*24*3600;
        break;
    case "年":
        time_space = 365*24*3600;
        break;
	case "体验":
        time_space = 3600;
        break;
	case "永久":
        time_space = 365*24*360000;
        break;
    default :
        time_space = 365*24*3600;
	};
	$("input#inputtime").val(time_space);
	}
    }
    function changeLi(id){
    switch(id){
    case "searchkami":
        var json = {"view":"searchkami"};
        ajax_get("index.php",json,urltap);
        $("li#"+id)[0].className="active";
        $("li#searchshouquan")[0].className="";
        $("li#createkami")[0].className="";
        
    break;
    case "searchshouquan":
        var json = {"view":"searchshouquan"};
        ajax_get("index.php",json,urltap);
        $("li#searchkami")[0].className="";
        $("li#createkami")[0].className="";
        $("li#"+id)[0].className="active";
        
    break;
    case "createkami":
        var json = {"view":"createkami"};
        ajax_get("index.php",json,urltap);
        $("li#searchshouquan")[0].className="";
        $("li#searchkami")[0].className="";
        $("li#"+id)[0].className="active";
    break;
    default:
        var json = {"view":"searchkami"};
        ajax_get("index.php",json,urltap);
        $("li#searchshouquan")[0].className="";
        $("li#createkami")[0].className="";
        $("li#searchkami")[0].className="active";
    };
    }
    //********************************分页组件的实现
	
	
	//********************************
    function ajax_get(filename,json,func,mode){ //最后一个参数为默认，默认是传入值，设置为1传id
 
        //json={"name":"login_name","pwd":"login_pwd"};           此参数一般长这样    
        if(!isjson(json)){
            console.log('参数传入错误，类型非json');
            return
        }
        var xmlhttp;
        var str="";
        var data="";
        if(arguments[3]==true){
        for(var key in json){ //遍历json里面的键
             //console.log(key+"--"+document.getElementById(json[key]).value);
             if(document.getElementById(json[key]).value==""){
                alert("操作失败，传入参数"+key+"有空值！");
                return
            }
            str = key+"="+document.getElementById(json[key]).value;
            data += str+"&";   
        }
        }
        else{
        for(var key in json){ //遍历json里面的键
             //console.log(key+"--"+json[key]);
             if(json[key]==""){
                alert("操作失败，传入参数"+key+"有空值！");
                return
            }
            str = key+"="+json[key];
            data += str+"&";   
        }     
        }
        data = data.substring(0, data.length - 1);
         
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                var ret=xmlhttp.responseText;
                func(ret);
            }
        }
            xmlhttp.open("GET",filename+"?t="+(new Date().getTime())+"&"+data,true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send();
        }

    function ajax_post(filename,json,func,mode){ //最后一个参数为默认，默认是传入值，设置为1传id
 
        //json={"name":"login_name","pwd":"login_pwd"};           此参数一般长这样    
        if(!isjson(json)){
            console.log('参数传入错误，类型非json');
            return
        }
        var xmlhttp;
        var str="";
        var data="";
        if(arguments[3]==true){
        for(var key in json){ //遍历json里面的键
            //console.log(key+"--"+document.getElementById(json[key]).value);
            if(document.getElementById(json[key]).value==""){
                alert("传入值操作失败，传入参数"+key+"有空值！");
                return
            }
            str = key+"="+document.getElementById(json[key]).value;
            data += str+"&";   
        }
        }
        else{
        for(var key in json){ //遍历json里面的键
             //console.log(key+"--"+json[key]);
             if(json[key]==""){
             console.log(key+"---"+"为空");
                alert("传入ID操作失败，传入参数"+key+"有空值！");
                return
            }
            str = key+"="+json[key];
            data += str+"&";   
        }     
        }
        data = data.substring(0, data.length - 1);
         
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else
        {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //document.getElementById("txtHint").innerHTML=xmlhttp.responseText;
                var ret=xmlhttp.responseText;
                func(ret);
            }
        }
            xmlhttp.open("POST",filename+"?t="+Math.random()+"&",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send(data);
  }
  
  
    function isjson(obj){ //判断一个变量对象是否为json。内部变量单双引号都行
        if(typeof(obj) == "object" && Object.prototype.toString.call(obj).toLowerCase() == "[object object]" && !obj.length){
            return true;
        }
        else{
            return false;
        }
    }
    function str2obj(str){
        var obj=eval('(' + str + ')'); //字符串类型转内部类型 如"[1,2,3]" 转换得到[1,2,3]
        return obj;
    }
    function isJSON(str) { //判断字符串是否为json格式。内部变量只能双引号，不能单引号
        if (typeof str == 'string') {
            try {
                //var obj=str.substring(1, str.length - 1);
                obj=str2obj(str);
                console.log(obj);
                if(isjson(obj)){
                    return true;
                }
                else{
                    return false;
                }
            } catch(e) {
                console.log(e);
                return false;
            }
        }
        return false;
    }

    </script>
   
  </head>
  <body>
    
   <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3>
				Dash Board 后台管理系统
			</h3>
			<p>
				<span>{{username}}:你好，欢迎进入后台中心！</span><br/> <a href="logout.php">注销登录</a> &nbsp;&nbsp <a href="changepwd.html">修改密码</a>
			</p>
			<ul class="nav nav-tabs">
            
				<li id="searchkami" class="active">
					<!-- <a href="javascript:changeLi('searchkami')">卡密查询</a> -->
					<a href="./">卡密查询</a>
				</li>
				<li id="searchshouquan" class="">
					<a href="javascript:changeLi('searchshouquan')">授权查询</a>
				</li>
				<li id="createkami" class="">
					<a href="javascript:changeLi('createkami')">卡密生成</a>
				</li>
				<li class="dropdown pull-right">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">更多</a>
					<ul class="dropdown-menu">
                        <li>
							<a href="javascript:clear('all')">清空所有记录</a>
						</li>
						<li>
							<a href="javascript:clear('used')">清空废卡</a>
						</li>
						<li class="divider">
						</li>
                        <li>
							<a href="javascript:showmsg('提示','这是一个很不走心的提示框,可以随时关闭')">看提示</a>
						</li>
						<li>
							<a href="javascript:showme()">关于作者</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
        <div id="body">
	<div class="row-fluid">
		<div class="span2">
			<div class="btn-group">
				 <button class="btn">卡密类型选择</button> <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
				<ul class="dropdown-menu">
                    <!-- <li style="display:none"> -->
                    <li>
						<input id="katype" type="text" value="all" style="text-align:center" readonly="readonly" />
					</li>
                    <li>
						<a href="javascript:selectType('all')">全部</a>
					</li>
					<li>
						<a href="javascript:selectType('天')">天卡</a>
					</li>
					<li>
						<a href="javascript:selectType('周')">周卡</a>
					</li>
					<li>
						<a href="javascript:selectType('月')">月卡</a>
					</li>
					<li>
						<a href="javascript:selectType('年')">年卡</a>
					</li>
					<li class="divider">
					</li>
					<li class="dropdown-submenu">
						 <a tabindex="-1" href="#">更多类型</a>
						<ul class="dropdown-menu">
							<li>
								<a href="javascript:selectType('体验')">体验卡</a>
							</li>
							<li>
								<a href="javascript:selectType('永久')">永久卡</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
       
		<div class="span2">
			 <button class="btn btn-block btn-info" type="button" onclick="search()">查询卡密信息</button>
		</div>
		<div class="span4">
		</div>
		<div class="span4">
		</div>
	</div>
     <div class="row-fluid">
		<div class="span12" id="showmsg">
			<div class="alert alert-success">
				 <button type="button" class="close" data-dismiss="alert">×</button>
				<h4>
					提示!
				</h4> <strong>温馨提示</strong> 默认查询数据库内所有信息,当前不支持分页.
			</div>
		</div>
        </div>
	<div class="row-fluid">
		<div class="span12">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>
							ID
						</th>
						<th>
							注册码
						</th>
						<th>
							最大用户数
						</th>
						<th>
							时间戳
						</th>
						<th>
							数据库标识
						</th>
					</tr>
				</thead>
				<tbody id="kami_list">
					<tr>
						<td>
							1
						</td>
						<td>
							DEMO
						</td>
						<td>
							DEMO
						</td>
						<td>
							Default
						</td>
						<td>
							Default
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<ul id="kami_li">
					<li>
						<a href="#">上一页</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">下一页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

    </div>
    </div>
  </body>
</html>